.danhSachCuoc{
    position: relative;
}
.bg img{
    z-index: -1;
    width: 100%;
}

.items img{
    border-radius: 5%;
    width: 100%;
    height: 100%;
}
.items
{
    padding: 10px;
    z-index: 2;
    position: absolute;
    top: 5%;
    left:5%;
    transform: translate(-5%,-5%);
}

/* @media screen and (max-width:992px)
{
    .bg img{
        width: 98%;
        height: 280px;
    }
    
    .items img{
        border-radius: 5%;
        width: 105px;
        height: 105px;
    }
}

@media screen and (max-width:768px)
{
    .bg img{
        z-index: -1;
        width: 93%;
        height: 280px;
    }
    
}
@media screen and (max-width:500px)
{
    .bg img{
        z-index: -1;
        width: 100%;
        height: 250px;
    }
    
}
@media screen and (max-width:350px)
{
    .bg img{
        z-index: -1;
        width: 100%;
        height: 220px;
    }
    
} */